@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome, @ViewBag.User!</h1>
        <p class="lead">Connecting Agriculture with Green Energy</p>
    </div>

    <section class="my-5">
        <h2 class="text-center">What is Agri-Energy Connect?</h2>
        <p class="text-center">
            Agri-Energy Connect is a visionary initiative that seeks to offer an innovative web platform bridging the gap between the agricultural sector
            and green energy technology. We aim to foster collaboration and innovation in sustainable agriculture and renewable energy.
        </p>
    </section>

    <section class="text-center">
        <h2 class="text-center">What Agri-Energy Connect Offers</h2>
        <ul class="list-group">
            <li class="list-group-item">
                A marketplace where farmers can sell their products.
            </li>
            <li class="list-group-item">
                Future Farming Hub for sharing practices and ideas.
            </li>
            <li class="list-group-item">
                Educational and Training functions with online courses, webinars, and workshops.
            </li>
            <li class="list-group-item">
                Project Collaboration and Funding feature to work on projects and fundraise.
            </li>
        </ul>
    </section>

    <section class="my-5">
        <h2 class="text-center">How to Navigate the Website</h2>
        <p class="text-center">
            Use the navigation bar at the top to access different features. Farmers will have access to the Products and Profile features.
        </p>
    </section>
</div>
